<!DOCTYPE html>
<html lang="en">

<head>
    <title>Expense Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <form onsubmit="logInUser(event)">
            <h1>login</h1>
            <div class="inputbox">
                <input type="text" id="email" name="email" required>
                <label for="name">Email</label>
            </div>
            <div class="inputbox">
                <input type="password" id="password" name="password" required>
                <label for="name">Password</label>
                <img src="/css/eye-close.png" id="eyeicon">
            </div>
            <div>
                <a href="/forgotpassword.html">Forgot Password?</a>
            </div>
            <button class="btn">LOGIN</button>
            <div class="register">
                <p>Don't have a account <a href="/signup.html">Register</a></p>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="/login.js"></script>
</body>
</html>