<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chat App Signup</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="container">
        <form onsubmit="saveUser(event)">
            <h1>Signup</h1>
            <div class="inputbox">
                <input type="text" id="name" name="name" required>
                <label for="name">Name</label>
            </div>
            <div class="inputbox">
                <input type="text" id="email" name="email" required>
                <label for="email">Email</label>
            </div>
            <div class="inputbox">
                <input type="text" id="phone" name="phone" required>
                <label for="phone">Phone No.</label>
            </div>
            <div class="inputbox">
                <input type="password" id="password" name="password" required>
                <label for="password">Password</label>
                <img src="./css/eye-close.png" id="eyeicon">
            </div>
            <button class="btn">SIGNUP</button>
            <div class="register">
                <p>Have an account <a href="./login.html">login</a></p>
            </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="./signup.js"></script>
</body>
</html>